.cards {
   height: 100%;
  overflow-y: auto;
  
  padding: 0.7rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding-bottom: 1rem;

  .card {
    flex: 1 1 15rem;
  max-width: 16rem;
    padding-inline: 0.5rem;
    padding-block: 0.6rem;
    background-color: rgb(35, 33, 33);
    border-radius: 0.5rem;
    color: rgba(255, 255, 255, 0.847);
    display: flex ;
    flex-direction: column;
    gap: 1rem;

    img{
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
     }
    h1{
        font-size: 1rem;
        font-weight: 400;
    }
    .description{
        opacity: 0.8;
        font-size: 0.875rem;
        line-height: 1.1rem;
        font-weight: 350;
        
    }
    .tags{
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: flex-start;

        .tag{
            background-color: #353735;
            width: fit-content;
            padding-inline: 0.6rem;
            padding-block: 0.3rem;
            border-radius: 0.75rem;
            white-space: nowrap;
            font-size: 0.5875rem;
            
        }

    }
    .urls{
        display: flex;
        gap: 1rem;
        a{
            color: whitesmoke;
            font-size: 0.5875rem;
        }
    }
  }
}
